IMAGE_REPO=guardianrmm/
VERSION=latest

# tactical credentials (Used to login to dashboard)
# IMPORTANT: Change these before deployment!
TRMM_USER=CHANGE_ME_admin
TRMM_PASS=CHANGE_ME_use_strong_password

# optional web port override settings
TRMM_HTTP_PORT=80
TRMM_HTTPS_PORT=443

# dns settings
APP_HOST=rmm.example.com
API_HOST=api.example.com
MESH_HOST=mesh.example.com

# cookie domain override - optional, must encompass all 3 domains
# CSRF_COOKIE_DOMAIN=example.com
# SESSION_COOKIE_DOMAIN=example.com

# mesh settings
MESH_USER=CHANGE_ME_mesh_admin
MESH_PASS=CHANGE_ME_use_strong_password
MONGODB_USER=CHANGE_ME_mongo_user
MONGODB_PASSWORD=CHANGE_ME_use_strong_password
MESH_PERSISTENT_CONFIG=0

# database settings
POSTGRES_USER=CHANGE_ME_pg_user
POSTGRES_PASS=CHANGE_ME_use_strong_password

# disable web terminal
TRMM_DISABLE_WEB_TERMINAL=False

# disable server side scripts
TRMM_DISABLE_SERVER_SCRIPTS=False

# disable sso
TRMM_DISABLE_SSO=False
